<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<th:block th:replace="~{/header :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <head>
            <meta charset="UTF-8">
            <title>mealRecord</title>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

            <!-- Bootstrap core JavaScript -->
            <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
            <link th:href="@{/vendor/bootswatch/bootstrap.css}" rel="stylesheet">

        </head>
        <body>
        <div id="container" class="m-1">
            <br/>
            <div class="m-1">
                <ol class="m-3 breadcrumb justify-content-center">
                    <li class="breadcrumb-item active"><a href="#" style="text-decoration-line : none; color : white;" id="today"></a></li>
                </ol>
            </div>
            <div class="m-5">
                <h6>음식</h6>
                <div class="progress text-center" style="width : 50%; height : 25px;">
                    <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width : 30%;">0/0 kcal</div>
                </div>
                <br>
                <h6>운동</h6>
                <div class="progress" style="width : 50%; height : 25px;">
                    <div class="progress-bar progress-bar-striped bg-danger" role="progressbar"></div>
                </div>
                <br>
                <button class="btn btn-danger" onclick="location.href='/mealRecord/caloriesDiagosis'">칼로리 처방받기</button>
            </div>

            <h3 class="m-5 text-center">
                칼로리 기록하기
            </h3>

            <div class="m-5" style="text-align:center">
                <div style="background-color : silver; width : 100px; height: 100px; display:inline-block;vertical-align:middle;
                margin-right: 20px;margin-left:20px;border-radius:50%;">
                    <div style="line-height:100px; color : white;"><a th:href="@{/mealRecord/mealRecord}">아침</a></div>
                </div>
                <div style="background-color : silver; width : 100px; height: 100px;display:inline-block;vertical-align:middle;
                margin-right: 20px;margin-left:20px;border-radius:50%;">
                    <div style="line-height:100px; color : white;"><a th:href="@{/mealRecord/mealRecord}">점심</a></div>
                </div>
                <div style="background-color : silver; width : 100px; height: 100px;display:inline-block;vertical-align:middle;
                margin-right: 20px; margin-left:20px;border-radius:50%;">
                    <div style="line-height:100px; color : white;"><a th:href="@{/mealRecord/mealRecord}">저녁</a></div>
                </div>
            </div>


        </div>

        </body>
        <script th:src="@{/js/mealRecordPage.js}"></script> <!-- static 폴더에 넣어야한다 ... 그래야 잡힘 ..경로에 ..ㄷㄷ -->
    </th:block>
</th:block>
</html>