<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<th:block th:replace="~{/header :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <style>

        </style>
        <head>
            <meta charset="UTF-8">
            <title>mealRecord</title>
            <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
            <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

            <!-- Bootstrap core JavaScript -->
            <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
            <link th:href="@{/vendor/bootswatch/bootstrap.css}" rel="stylesheet">

        </head>
        <body>
        <div id="container" class="m-1">
            <br/>
            <div class="m-1">
                <ol class="m-3 breadcrumb justify-content-center">
                    <li class="breadcrumb-item active"><a href="#" style="text-decoration-line : none; color : white;" id="today">아침식사</a></li>
                </ol>
            </div>

            <div class="m-5" style="text-align:center">
                <input type="text" class="form-control" placeholder="검색어를 입력하세요." style="width : 40%;display:inline-block;vertical-align:middle;">
                <button class="btn btn-danger" style="display : inline-block;" id="searchBtn" data-toggle="modal" data-target="#myModal">검색</button>
            </div>
            <div class="m-5" style="text-align:center;">
                <h5>칼로리 정보</h5>
                <table class="table table-hover" style="text-align:center; width : 50%; margin-left:auto; margin-right:auto;">
                    <!--<thead style='display:none;'>
                    <tr>
                        <th scope="col">Type</th>
                        <th scope="col">Column heading</th>
                    </tr>
                    </thead>-->
                    <tbody>
                    <tr class="table-active">
                        <th scope="row">Active</th>
                        <td>Column content</td>
                    </tr>
                    <tr>
                        <th scope="row">Default</th>
                        <td>Column content</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="modal" id="myModal" style="width : 100%;" tabindex="-1">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <p>Modal body text goes here.</p>
                        <p>Modal body text goes here.</p>
                        <p>Modal body text goes here.</p>
                        <p>Modal body text goes here.</p>
                        <p>Modal body text goes here.</p>
                        <p>Modal body text goes here.</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                    </div>
                </div>
            </div>
        </div>

        </body>
        <script th:src="@{/js/mealRecord.js}"></script> <!-- static 폴더에 넣어야한다 ... 그래야 잡힘 ..경로에 ..ㄷㄷ -->
    </th:block>
</th:block>
</html>