<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Bootstrap core JavaScript -->
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.js}"></script>
    <link th:href="@{/vendor/bootswatch/bootstrap.css}" rel="stylesheet">

</head>
<body>

<div class="container" style="width : 500px">

    <div class="py-5 text-center">
        <h3>내정보 수정</h3>
        <br>
        <div class="mb-3 text-center">
            <img th:src="@{/image/user_img.jpg}" style="width : 100px; height : 100px; border: 3px solid gold; border-radius: 70px; -moz-border-radius: 70px; -khtml-border-radius: 70px;
                                                        -webkit-border-radius: 70px;">
            <br>
            <br>
            <input type="file" class="form-control" />
        </div>
    </div>

    <form method="post" th:action="@{/member/login}">
        <div class="mb-3 text-center">
            <label for="mName">닉네임</label>
            <input type="text" class="form-control" id="mName" name="mName" th:value="${mName}" readonly>
            <div class="invalid-feedback" style="width: 100%;">아이디를 입력해주세요.</div>
        </div>

        <div class="mb-3 text-center">
            <label for="pw">비밀번호</label>
            <input type="text" class="form-control" id="pw" name="pw" placeholder="" value="" required>
            <div class="invalid-feedback" style="width: 100%;">비밀번호를 입력해주세요.</div>
        </div>

        <div class="mb-3 text-center">
            <input class="btn btn-outline-dark" type="submit" value="취소"/>
            <a class="btn btn-danger" th:href="@{/main}">수정</a>
        </div>
    </form>

</div>

</body>
<script th:src="@{/js/loginPage.js}"></script> <!-- static 폴더에 넣어야한다 ... 그래야 잡힘 ..경로에 ..ㄷㄷ -->
</html>