<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<th:block th:replace="~{/header :: setContent(~{this::content})}">
    <th:block th:fragment="content">
        <div class="d-grid gap-2" style="margin : 200px;">
            <a class="btn btn-lg btn-secondary font-weight-bold" href="/mealRecord/mealRecordPage">식단 기록</a>
            <a class="btn btn-lg btn-secondary font-weight-bold" type="button">다이어리</a>
            <a class="btn btn-lg btn-secondary font-weight-bold" type="button">칼로리 사전</a>
            <a class="btn btn-lg btn-secondary font-weight-bold" type="button">상세 리포트</a>
            <a class="btn btn-lg btn-secondary font-weight-bold" type="button">HP SHOP</a>
        </div>
    </th:block>
</th:block>
</html>