<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Health Planner</title>
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
</head>
<body>
    <div class="top">
        <h2>Health Planner</h2>
        <th:block th:if="${mid == null}">
            <span><a th:href="@{member/loginPage}">로그인</a></span>
            <span><a th:href="@{member/signupPage}">회원가입</a></span>
        </th:block>
        <th:block th:if="${mid != null}">
            <!-- 타임리프 th:text 안에 변수 + 문자열을 쓰면 에러. ||안에 감싸주어야 한다. -->
            <span th:text="|${mid} 님 반갑습니다.|"></span>
        </th:block>
    </div>
    <div class="body">
        <div class="left">
            <div><a th:href="@{member/mealRecord}">식단 기록</a></div>
            <div><a th:href="@{member/diary}">다이어리</a></div>
            <div><a th:href="@{member/diary}">상세리포트</a></div>
            <div><a th:href="@{member/caloriesDictionary}">칼로리 사전</a></div>
            <div><a th:href="@{member/hpShop}">HP SHOP</a></div>
        </div>
        <div class="right">
            <div>주간 리포트</div>
        </div>
    </div>
</body>
<style>
    .body{
        width : 100%;
        height : 100%;
        background-color : gainsboro;
    }

    .left{
        width : 65%;
        height : 70%;
    }
</style>
<script th:src="@{/js/main.js}"></script> <!-- static 폴더에 넣어야한다 ... 그래야 잡힘 ..경로에 ..ㄷㄷ -->
</html>